venv
env
settings.json
clients.csv
*__pycache__
src/logs
src/resources/__pycache__
build/
dist/
custom_dict.txt
src/entities.json
src/queries.json
queries.json
entities.json
src/entity_cache.sqlite3
*.md
!readme.md
.vscode/*
